@{
    ViewData["Title"] = "Register";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-5">

        <div class="card shadow-lg rounded-4">
            <div class="card-body p-4">

                <h2 class="text-center text-success fw-bold mb-4">
                    Register
                </h2>

                <form method="post">

                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="text" name="email"
                               class="form-control"
                               placeholder="Enter email" required />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" name="password"
                               class="form-control"
                               placeholder="Create strong password" required />
                    </div>

                    <button type="submit" class="btn btn-success w-100">
                        Register
                    </button>
                </form>

                @if (ViewBag.Error != null)
                {
                    <p class="text-danger text-center mt-3">
                        @ViewBag.Error
                    </p>
                }

                <div class="text-center mt-3">
                    <a href="/Account/Login">
                        Already Registered? Login
                    </a>
                </div>

            </div>
        </div>

    </div>
</div>
